  .daily-offer {
    padding: 40px 0;
  }

  .daily-offer-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
  }

  .daily-offer-head h2{
    color: #1661a3;
  }

    @media (width >= 992px) {
    .daily-offer-head{
          padding-top: 10px;
        }
    
  }