  .top-block.headline{
        background: white;
        padding: 30px 0;
      h1{
        text-align: center;
        font-size: 1.6rem;
        strong{
            color:#07659e;
        }
      }
      p{
        box-shadow: 0px 0px 6px 0px #E6E6E6;
        padding:20px;
        margin:20px 0;
        background: white;
      }
   }
   
